---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: nfs
  annotations:
    storageclass.kubernetes.io/is-default-class: "false"
provisioner: nfs.csi.k8s.io
parameters:
  # Update these values to match your NFS server
  # You can use template variables like: server: "#{ nfs_server }#"
  server: "#{ nfs_server | default('YOUR_NFS_SERVER_IP_OR_HOSTNAME') }#"
  share: "#{ nfs_share | default('/path/to/nfs/share') }#"
  # NAS layout: <namespace>/<pvc-name>. SC parameters are immutable; recreate SC after removing PVCs.
  subDir: "${pvc.metadata.namespace}/${pvc.metadata.name}"
mountOptions:
  - nfsvers=4.1
  - proto=tcp
  - hard
  - timeo=600
  - retrans=2
  - noresvport
allowVolumeExpansion: true
volumeBindingMode: Immediate
reclaimPolicy: Retain
